/* Media Queries para Pantallas grandes */
@media (min-width: 1024px) {
    /* VideoSection */
    .videoSection {
        height: 100vh;
    }

    .container h1 {
        font-size: 6rem;
    }

    .container p {
        font-size: 3rem;
    }

    /* WorkSection */
    .projects {
        display: flex;
        justify-content: space-between;
    }

    .project {
        width: 30%;
    }

    /* Navbar */
    .nav .main_list {
        display: flex;
    }

    .nav div.main_list ul li a {
        font-size: 2rem;
    }
    
    /* Responsive design for Menu */
    .menu-toggle {
        display: none;
    }

    .nav .main_list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav div.main_list ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 15px;
    }

    .nav div.main_list ul li {
        padding: 15px;
    }

    .nav div.main_list ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 2rem;
        transition: color 0.3s ease;
    }

    .nav div.main_list ul li a:hover {
        color: red;
    }
}
