/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor del video */
.backGround {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

/* Estilo para el video */
.backGround video {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

/* Contenedor principal para el contenido */
.container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Barra de navegación */
.navBar {
    position: fixed;
    top: 10px;
    width: 100%;
}

.navHome {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 15px;
    height: 30px;
    align-items: center;
    width: 40%;
    margin-left: 30%;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

.navHome a:hover {
    color: gray;
}

/* HomeSection - Primer sección */
.HomeSection {
    width: 100%;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.content-first {
    z-index: 1;
}

.infoHome {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

/* WorkSection - Proyectos */
.WorkSection {
    width: 100%;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

/* AboutSection - Sobre mí */
.AboutSection {
    width: 100%;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ResumeSection - Resumen */
.ResumeSection {
    width: 100%;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
